.hidden {
  display: none;
}

.lyric {
  /* Credits to: https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css
  for making the animated highlighting work */
  background: linear-gradient(to left, white 50%, yellow 50%) right;
  background-size: 300%;
  transition: background-position linear;
}

.highlight {
  font-weight: bold;
  background-position: left;
}

#lyrics {
    font-family: Programme, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

#audio {
  position: fixed;
  top: 0;
  left: 0;
}

@font-face {
    font-family: 'Programme';
    src: url(https://assets.genius.com/fonts/programme_normal.woff2?1615497096) format('woff2'),
      url(https://assets.genius.com/fonts/programme_normal.woff?1615497096) format('woff');
    font-style: normal;
    font-weight: normal;
  }  

@font-face {
    font-family: 'Programme';
    src: url(https://assets.genius.com/fonts/programme_light.woff2?1615497096) format('woff2'),
      url(https://assets.genius.com/fonts/programme_light.woff?1615497096) format('woff');
    font-style: normal;
    font-weight: 100;
  }