<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Check the Rhyme</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon_io/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon_io/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon_io/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon_io/site.webmanifest')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
    <form>
        <fieldset>
            <legend>Lyric Lookup</legend>
            <label for="song-name">Song name:</label>
            <br>
            <input type="text" id="song-name" name="song-name" placeholder="Song Name">
            <br>
            <br>
            <label for="artist-name">Artist name:</label>
            <br>
            <input type="text" id="artist-name" name="artist-name" placeholder="Artist Name">
            <br>
            <br>
            <input type="checkbox" id="line-by-line" name="line-by-line">
            <label for="line-by-line">Show lyrics line-by-line</label>
            <br>
            <input type="checkbox" id="animate-highlight" name="animate-highlight">
            <label for="animate-highlight">Animated highlighting of lyrics</label>
            <br>
            <br>
            <input type="button" id="submit" value="Search">
        </fieldset>
    </form>
    <br>
    <br>
    <div id="progress">
        <p>Progress:</p>
    </div>
    <audio controls id="audio"></audio>
    <p>Lyrics of song:</p>
    <div id="lyrics"></div>
</body>
</html>
