<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Check the Rhyme</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon_io/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon_io/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='img/favicon_io/site.webmanifest')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
    <div class="container">
        <div id="queue">
            <div class="query">
                <form>
                    <label for="song-name">Song name:</label>
                    <input type="text" id="song-name" name="song-name">
                    <label for="artist-name">Artist name:</label>
                    <input type="text" id="artist-name" name="artist-name">
                    <!-- <input type="checkbox" id="line-by-line" name="line-by-line">
                    <label for="line-by-line">Show lyrics line-by-line</label>
                    <br>
                    <input type="checkbox" id="animate-highlight" name="animate-highlight">
                    <label for="animate-highlight">Animated highlighting of lyrics</label>
                    -->
                </form>
            </div>
            <div class="display-modes">
                <div id="check-the-rhyme">
                    <p class="mode-title">
                        Check the Rhyme
                    </p>
                    <p class="description">
                        Inspired by Genius' Check the Rhyme series, this mode will play the song,
                        display all the lyrics, and highlight the rhyming words.
                    </p>
                </div>
                <div id="karaoke">
                    <p class="mode-title">
                        Karaoke
                    </p>
                    <p class="description">
                        This mode will play the instrumental of the song alongside
                        a lyrical guide
                    </p>
                </div>
            </div>
            <div id="add-to-queue">
                <img src='./static/img/plus.svg'>
                Add to queue
            </div>
            <div id="progress">
                <div id="progress-bar">
                    <div id="progress-complete"></div>
                </div>
                <div id="progress-message">
                    <p>Progress:</p>
                </div>
            </div>
            <div id="queue-items">
                <div class="queue-item"></div>
            </div>
        </div>
        <div id="player">
            <p>Currently Playing:</p>
            <p id="currently-playing">No song queued</p>
            <audio controls id="audio"></audio>
            <p>Press play to start!</p>
            <div id="lyrics"></div>
        </div>
    </div>
</body>
</html>
